body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;

}

h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 2.8rem;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;

}

/* header */

header {
  background-color: rgb(44, 149, 247);
  background-image: url(../img/pattern.png);
  background-size: 27%;
}

#header-box {
  height: 120px;
  left: auto;
  right: auto;

}


.header1 {
  padding-top: 40px;
  padding-left: 20px;
  width: 250px;
  justify-content: left;

}

/*main*/

main {
  padding-left: 10px;
  padding-right: 10px;
}




div#top .p1 {
  color: #878787;
  font-size: 24px;
}

div#top .p1 .p15 {
  color: rgb(39, 42, 230);
}

div#top .p1 .p2 {
  color: #878787;
}

/*section li*/

.yellow {
  background-color: yellow;
}

.tim1 {
  font-size: 10px;
}

ul {
  margin-top: 10px;
}

/* table*/
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.th1 {
  text-align: left;
  width: 250px;
  color: white;
  background-color: rgb(44, 149, 247);
}

.th2 {
  text-align: left;
  color: white;
  background-color: rgb(44, 149, 247);
}

th,
td {

  border: 1px #ddd;

}

th {
  background-color: #add8e6;
}

.td1 {
  height: 50px;
  background-color: #add8e6;
}

.td2 {
  height: 50px;
}

h3 {
  color: gray;
}

/* footer*/

footer {
  padding-left: 10px;
  padding-right: 10px;
}

#image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;

}

.overlay-text {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
  font-style: ;
  color: white;
}


#image-container2 {
  position: relative;
  display: inline-block;
}

.image-container2 img {
  display: block;
  width: 100%;
  height: auto;

}

.overlay-text2 {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
  font-style: ;
  color: white;
}