body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;

}

h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;

}


header {
  background-color: rgb(44, 149, 247);
  background-image: url(../img/pattern.png);
  background-size: 27%;
}

#header-box {
  height: 120px;
  left: auto;
  right: auto;

}




.header1 {
  padding-top: 40px;

  width: 250px;
  justify-content: left;
  align-content: last baseline;
}


.container {
  padding: 10px;
  margin: auto;
}

.p1 {
  font-size: 24px;
  color: gray;
}

.p1 a {
  color: #0033cc;
  text-decoration: none;
  font-size: 24px;
}

.p2 {
  font-size: 20px;
  color: gray;
}

.yellow {
  background-color: yellow;
}